In [1]:
# Import Dependencies
import pandas as pd
import numpy as np
from config import api_key
import requests
from pprint import pprint

In [2]:
# Define API base url and targetted years of movies data
url1 = "https://api.themoviedb.org/3/discover/movie?"
year_data = [2015,2016,2017,2018]

In [3]:
# Call the API url , Check for response and print the response whether the data is available or not
# store the repsonse as JSON data
movies_id_data = []
page_num = 1

for year in year_data:
    
    for page_num in range(1,11):
        response = requests.get(f"{url1}api_key={api_key}&primary_release_year={year}&page={page_num}")
        print(response.url)
        movies = response.json()
       #movies_data.append(response.json())
        page_num = page_num + 1
               
    
        for movie in movies['results']:
            movies_id_data.append(movie['id'])
    
    
#print(movies_id_data)
#pprint(movies_data_list)

https://api.themoviedb.org/3/discover/movie?api_key=f63b434c2eae10c869016441dc039f7b&primary_release_year=2015&page=1
https://api.themoviedb.org/3/discover/movie?api_key=f63b434c2eae10c869016441dc039f7b&primary_release_year=2015&page=2
https://api.themoviedb.org/3/discover/movie?api_key=f63b434c2eae10c869016441dc039f7b&primary_release_year=2015&page=3
https://api.themoviedb.org/3/discover/movie?api_key=f63b434c2eae10c869016441dc039f7b&primary_release_year=2015&page=4
https://api.themoviedb.org/3/discover/movie?api_key=f63b434c2eae10c869016441dc039f7b&primary_release_year=2015&page=5
https://api.themoviedb.org/3/discover/movie?api_key=f63b434c2eae10c869016441dc039f7b&primary_release_year=2015&page=6
https://api.themoviedb.org/3/discover/movie?api_key=f63b434c2eae10c869016441dc039f7b&primary_release_year=2015&page=7
https://api.themoviedb.org/3/discover/movie?api_key=f63b434c2eae10c869016441dc039f7b&primary_release_year=2015&page=8
https://api.themoviedb.org/3/discover/movie?api_key=f63b434c2eae10c869016441dc039f7b&primary_release_year=2015&page=9
https://api.themoviedb.org/3/discover/movie?api_key=f63b434c2eae10c869016441dc039f7b&primary_release_year=2015&page=10
https://api.themoviedb.org/3/discover/movie?api_key=f63b434c2eae10c869016441dc039f7b&primary_release_year=2016&page=1
https://api.themoviedb.org/3/discover/movie?api_key=f63b434c2eae10c869016441dc039f7b&primary_release_year=2016&page=2
https://api.themoviedb.org/3/discover/movie?api_key=f63b434c2eae10c869016441dc039f7b&primary_release_year=2016&page=3
https://api.themoviedb.org/3/discover/movie?api_key=f63b434c2eae10c869016441dc039f7b&primary_release_year=2016&page=4
https://api.themoviedb.org/3/discover/movie?api_key=f63b434c2eae10c869016441dc039f7b&primary_release_year=2016&page=5
https://api.themoviedb.org/3/discover/movie?api_key=f63b434c2eae10c869016441dc039f7b&primary_release_year=2016&page=6
https://api.themoviedb.org/3/discover/movie?api_key=f63b434c2eae10c869016441dc039f7b&primary_release_year=2016&page=7
https://api.themoviedb.org/3/discover/movie?api_key=f63b434c2eae10c869016441dc039f7b&primary_release_year=2016&page=8
https://api.themoviedb.org/3/discover/movie?api_key=f63b434c2eae10c869016441dc039f7b&primary_release_year=2016&page=9
https://api.themoviedb.org/3/discover/movie?api_key=f63b434c2eae10c869016441dc039f7b&primary_release_year=2016&page=10
https://api.themoviedb.org/3/discover/movie?api_key=f63b434c2eae10c869016441dc039f7b&primary_release_year=2017&page=1
https://api.themoviedb.org/3/discover/movie?api_key=f63b434c2eae10c869016441dc039f7b&primary_release_year=2017&page=2
https://api.themoviedb.org/3/discover/movie?api_key=f63b434c2eae10c869016441dc039f7b&primary_release_year=2017&page=3
https://api.themoviedb.org/3/discover/movie?api_key=f63b434c2eae10c869016441dc039f7b&primary_release_year=2017&page=4
https://api.themoviedb.org/3/discover/movie?api_key=f63b434c2eae10c869016441dc039f7b&primary_release_year=2017&page=5
https://api.themoviedb.org/3/discover/movie?api_key=f63b434c2eae10c869016441dc039f7b&primary_release_year=2017&page=6
https://api.themoviedb.org/3/discover/movie?api_key=f63b434c2eae10c869016441dc039f7b&primary_release_year=2017&page=7
https://api.themoviedb.org/3/discover/movie?api_key=f63b434c2eae10c869016441dc039f7b&primary_release_year=2017&page=8
https://api.themoviedb.org/3/discover/movie?api_key=f63b434c2eae10c869016441dc039f7b&primary_release_year=2017&page=9
https://api.themoviedb.org/3/discover/movie?api_key=f63b434c2eae10c869016441dc039f7b&primary_release_year=2017&page=10
https://api.themoviedb.org/3/discover/movie?api_key=f63b434c2eae10c869016441dc039f7b&primary_release_year=2018&page=1
https://api.themoviedb.org/3/discover/movie?api_key=f63b434c2eae10c869016441dc039f7b&primary_release_year=2018&page=2
https://api.themoviedb.org/3/discover/movie?api_key=f63b434c2eae10c869016441dc039f7b&primary_release_year=2018&page=3
https://api.themoviedb.org/3/discover/movie?api_key=f63b434c2eae10c869016441dc039f7b&primary_release_year=2018&page=4
https://api.themoviedb.org/3/discover/movie?api_key=f63b434c2eae10c869016441dc039f7b&primary_release_year=2018&page=5
https://api.themoviedb.org/3/discover/movie?api_key=f63b434c2eae10c869016441dc039f7b&primary_release_year=2018&page=6
https://api.themoviedb.org/3/discover/movie?api_key=f63b434c2eae10c869016441dc039f7b&primary_release_year=2018&page=7
https://api.themoviedb.org/3/discover/movie?api_key=f63b434c2eae10c869016441dc039f7b&primary_release_year=2018&page=8
https://api.themoviedb.org/3/discover/movie?api_key=f63b434c2eae10c869016441dc039f7b&primary_release_year=2018&page=9
https://api.themoviedb.org/3/discover/movie?api_key=f63b434c2eae10c869016441dc039f7b&primary_release_year=2018&page=10

In [4]:
print(len(movies_id_data))

800

In [5]:
# Using movie id list call the TMDb API for more movie information
url2 = "https://api.themoviedb.org/3/movie/"
movies_details = []

for mve_id in movies_id_data:
    
    response2 = requests.get(f"{url2}{mve_id}?api_key={api_key}")
    #print(response2.url)
    movies_details.append(response2.json())
        
#pprint(movies_details)

In [6]:
movie_id1 = []
movie_title = []
budget = []
revenue = []
release_date = []
genre = []
production_comp = []
tag_line = []

def write_null(v1):
    if v1 == movie_id1:
        movie_id1.append("NaN")
    if v1 == movie_title:
        movie_title.append("NaN")
    if v1 == budget:
        budget.append("NaN")
    if v1 == revenue:
        revenue.append("NaN")
    if v1 == genre:
        genre.append("NaN")
    if v1 == tag_line:
        tag_line.append("NaN")
    if v1 == production_comp:
        production_comp.append("NaN")
    if v1 == release_date:
        release_date.append("NaN")
    
for detail in movies_details:
      
    try:
        movie_id1.append(detail["id"])
    except:
        write_null(movie_id1)
    try:
        movie_title.append(detail["title"])
    except:
        write_null(movie_title)
    try:
        budget.append(detail["budget"])
    except:
        write_null(budget)
    try:
        revenue.append(detail["revenue"])
    except:
        write_null(revenue)
    try:
        genre.append(detail["genres"][0]["name"])
    except:
        write_null(genre)
    try:
        tag_line.append(detail["tagline"])
    except:
        write_null(tag_line)  
    try:
        production_comp.append(detail["production_companies"][0]["name"])
    except:
        write_null(production_comp)
    try:
        release_date.append(detail["release_date"])
    except:
        write_null(release_date)

In [7]:
print(len(movie_id1))
print(len(movie_title))
print(len(budget))
print(len(revenue))
print(len(genre))
print(len(tag_line))
print(len(release_date))

800
800
800
800
800
800
800

In [10]:
movie_df_frame = pd.DataFrame({"Movie ID":movie_id1,"Title": movie_title, "Budget":budget,"Tagline":tag_line,
                               "Revenue": revenue, "Genre": genre, "Production Company": production_comp, "Release Date": release_date},
                                 columns = ["Title", "Movie ID","Genre","Production Company","Budget", "Revenue", "Tagline", "Release Date"])
movie_df_frame.to_csv("santhosh.csv", index =False)
movie_df_frame.head()

  Title Movie ID Genre Production Company Budget Revenue Tagline Release Date
0   NaN      NaN   NaN                NaN    NaN     NaN     NaN          NaN
1   NaN      NaN   NaN                NaN    NaN     NaN     NaN          NaN
2   NaN      NaN   NaN                NaN    NaN     NaN     NaN          NaN
3   NaN      NaN   NaN                NaN    NaN     NaN     NaN          NaN
4   NaN      NaN   NaN                NaN    NaN     NaN     NaN          NaN

In [32]:
clean_movie_df = movie_df_frame.loc[(movie_df_frame["Title"] != 'NaN') & (movie_df_frame["Movie ID"] != 'NaN') &  (movie_df_frame["Genre"] != 'NaN') &  (movie_df_frame["Production Company"] != 'NaN') & (movie_df_frame["Budget"] != 'NaN') & (movie_df_frame["Revenue"] != 'NaN') & (movie_df_frame["Tagline"] != 'NaN') & (movie_df_frame["Release Date"] != 'NaN')]
clean_movie_df.to_csv("santhosh clean.csv", index = False)
clean_movie_df.head()

,Title,Movie ID,Genre,Production Company,Budget,Revenue,Tagline,Release Date
5,Star Wars: The Force Awakens,140607,Action,Truenorth Productions,245000000,2068223624,Every generation has a story.,2015-12-15
6,Spectre,206647,Action,Danjaq,245000000,880674609,A Plan No One Escapes,2015-10-26
7,Inside Out,150540,Drama,Pixar,175000000,857611174,Meet the little voices inside your head.,2015-06-09
8,Insurgent,262500,Action,Summit Entertainment,110000000,295238201,One Choice Can Destroy You,2015-03-18
9,Jupiter Ascending,76757,Science Fiction,Anarchos Productions,176000003,183987723,Expand your universe.,2015-02-04

In [ ]:
#Genre vs Revenue profit plot